@import url("colors.css");

.settings-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--color-send-btn);
  color: var(--color-text);
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 1001;
}

.settings-button:hover {
  background-color: var(--color-send-btn-hover);
}


/* Overlay del modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Contenido del modal */
.modal {
  background-color: var(--color-main-bg);
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: var(--color-text)
}

/* Botón de cerrar */
.close-modal {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--color-send-btn);
  color: var(--color-text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-modal:hover {
  background-color: var(--color-send-btn-hover);
}